@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./bgi.jpg);
  background-size: cover;
  background-position: center;
}

.box {
  border-radius: 20px;
  width: 350px;
  padding: 30px;
  /* border: 2px solid rgb(20, 20, 19); */
  background-color: rgba(247, 241, 241, 0.6);
  box-shadow: 1px 1px 2px rgb(250, 165, 54);
  display: flex;
  flex-direction: column;
}

.box h1 {
  font-weight: 700;
  font-size: 50px;
  align-self: center;
}

.wrapper {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.username,
.password {
  position: relative;
}

.fa-user,
.fa-lock-open {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 20px;
  transition: all 0.2s;
}

.box input[type="text"],
.box input[type="password"] {
  font-size: 20px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgb(58, 58, 189);
  padding: 14px 10px;
  border-radius: 20px;
  width: 250px;
  outline: none;
  color: black;
  transition: all 0.2s ease-in;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: yellow;
  background-color: rgb(243, 167, 69, 0.3);
}

#btn {
  font-size: 20px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgb(190, 193, 191);
  padding: 14px 35px;
  border-radius: 20px;
  background-color: #04aa6d;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(19, 198, 43);
  font-size: 20.5px;
  border: none;
}

.social-text {
  padding: 20px 0px;
  color: antiquewhite;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid white;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(9, 246, 175);
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 0.2s;
}

.social-icon:hover {
  color: white;
  border: 2px solid rgb(9, 246, 175);
  font-size: 1.6rem;
}
